<body id="body">

<section class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="content">
					<h1 class="page-name-contact">Team</h1>
				</div>
			</div>
		</div>
	</div>
</section>




<section class="page-wrapper">
	<div class="contact-section">
		<div class="container">
			<div class="row">
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/5804257/pexels-photo-5804257.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/4927361/pexels-photo-4927361.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/4536190/pexels-photo-4536190.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>		 
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/4407688/pexels-photo-4407688.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/4728655/pexels-photo-4728655.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<img src="https://images.pexels.com/photos/1170986/pexels-photo-1170986.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Image" style="width: 200px; height: 200px; object-fit: cover; border-radius: 5px;">
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Boris Crochet</h4>
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Katherine Cao</h4>
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Ezekiel Ravidat</h4>
				</div>		 
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Hugo Rischmann</h4>
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Tommy Rischmann</h4>
				</div>
				<div class="col-md-2 d-flex justify-content-between" style="display: flex !important; justify-content: space-between !important;">
					<h4 class="text-center">Dylan Doré</h4>
				</div>
			</div> <!-- end row -->
		</div> <!-- end container -->
	</div>
</section>
</body>