<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.first_name %>!</h1>
    <p>
      You have just made a purrchase.
    </p>
    <p>
      To access your client area, log in via: <%= @url %>.
    </p>
    <p>
      Thank you so much for your support and have a lovely day!
    </p>
  </body>
</html>